{
    "plugins": [
        "prettier-plugin-blade"
    ],
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 200,
    "html.format.wrapAttributes": "auto"
}