includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    # Rule level (0-9)
    level: 8

    excludePaths:
        - ./*/*/FileToIgnore.php
        - tests

    # Laravel specific
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

